@charset "UTF-8";
footer {
  height: 200px;
}

.circle {
  border-radius: 100%;
  width: 300px;
  height: 300px;
}

iframe {
  width: 100%;
  height: 1000px;
}

.card-text {
  font-size: 14px;
  line-height: 1.5;
  color: #777;
}

.navbar-nav .nav-link {
  font-size: 12px;
}

.inicio {
  background: linear-gradient(to top, rgba(30, 35, 38, 0.8), rgb(30, 35, 38)), url(static/fondo_pokemonGo.png.jpeg);
  background-size: cover;
  height: 100vh;
  color: #fff;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
.inicio .contenido-banner {
  padding: 20px;
  max-width: 350px;
  margin: auto;
  text-align: center;
  border-radius: 40px;
}
.inicio .contenido-banner img {
  margin-top: 40px;
  border: 10px solid #f7a63c;
  display: block;
  width: 80%;
  margin: auto;
  border-radius: 100%;
}
@media (300 < width < 700) {
  .inicio h1 {
    margin-top: 40px;
    font-size: 20px;
  }
}
.inicio h1 {
  margin-top: 40px;
}

.miEstilo {
  background-color: #444545;
}

.whatsapp-button {
  position: fixed;
  bottom: 16px;
  right: 16px;
  border-radius: 50px;
  width: 60px;
  height: 60px;
  background: #25D366;
  box-shadow: 2px 2px 3px #999;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: pulse 2s infinite;
}
.whatsapp-button:hover {
  cursor: pointer;
}
.whatsapp-button .whatsapp-link {
  color: #fff i;
  color-font-size: 30px;
}
.whatsapp-button a {
  color: #fff;
  font-size: 25px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(1);
  }
}
nav {
  height: 90px;
}

.navbar-nav .nav-link {
  font-size: 15px;
}

@media (min-width: 500px) and (max-width: 900px) {
  .circulo {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    background: url("/static/Perfil.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px auto;
    padding: 3%;
  }
  @keyframes rebote {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
  .imagen-rebote {
    animation: rebote 2s infinite;
  }
}
.texto-derecha::after {
  content: "#¿Quién soy?";
  font-family: "Courier New", monospace;
  animation: escribir 2s steps(40, end) alternate;
  animation-iteration-count: infinite;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  width: 0;
}

@keyframes escribir {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.img-absolut, .img-absolut2 {
  display: none;
}

@media (max-width: 500px) {
  @keyframes flotar {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  .img-absolut, .img-absolut2 {
    display: none;
  }
}
@media (max-width: 500px) and (max-width: 500px) {
  .img-absolut {
    display: block;
    position: absolute;
    top: 50%;
    left: 10%;
    width: 80%;
    object-fit: cover;
    z-index: -10;
    animation: flotar 5s infinite;
  }
}
@keyframes rebote {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
.imagen-rebote {
  animation: rebote 2s infinite;
}

/*# sourceMappingURL=style.css.map */
