[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
requests = "*"
install = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
dev = "python manage.py runserver 127.0.0.1:8001"
make = "python manage.py makemigrations"
migrate = "python manage.py migrate"
createsuperuser = "python manage.py createsuperuser"
collectstatic = "python manage.py collectstatic"
